body{
    background-image: url('https://img.freepik.com/premium-photo/serene-pixel-art-landscape-featuring-mountains-trees-bright-moon_1284294-2998.jpg?semt=ais_hybrid&w=740');
    background-repeat: no-repeat;
    position: relative;
    background-color: rgb(30, 39, 61);
    background-size: contain;
    font-family: 'Minecraft Rus';

}

.wolf1{
    width: 350px;
    height: 350px;
    position: absolute;
    top: 410px;
    left: 1380px;
}

.wolf2{
    width: 350px;
    height: 350px;
    position: absolute;
    top: 410px;
    left: 1090px;
}

.cap1{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 370px;
    left: 1380px;
    transform: rotate(-30deg);
}

.cap2{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 390px;
    left: 1060px;
    transform: rotate(-30deg);
}

.cap3{
    width: 100px;
    height: 150px;
    position: absolute;
    top: 320px;
    left: 770px;
}


.cap4{
    width: 300px;
    height: 400px;
    position: absolute;
    left: 700px;
}

 .cap5{
    width: 800px;
    height: 500px;
    position: absolute;
    top: 380px;
    left: 500px;
}

 .cap6{
    width: 600px;
    height: 500px;
    position: absolute;
    top: 380px;
    left: 250px;
}

.gnom1{
    width: 350px;
    height: 350px;
    position: absolute;
    top: 370px;
    left: 10px;
}

.gnom2{
    width: 350px;
    height: 350px;
    position: absolute;
    top: 430px;
    left: 260px;
    
}