body{
    background-image: url('folder/assets/images/orig.webp');
    position: relative;
    font-family: 'Minecraft Rus';

}

.flex{
    display: flex;
}

.all_cars{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly
}
.block_mazda_rx7{
    display: flex;
    align-items: center
}


.mazda_rx7{
  width: 500px;

height: 260px;}

.list_param li,.price{
    color: white;
}

.block_text{
    width: 300px;
    height: 290px;
    background-color: blue;
    border-radius: 20px;
    
    padding: 10px;
    position: relative;
   
    
}

.price{
    font-size: 20px
}

.block_text_flag{
    width: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
}